---
import Layout from "@/layouts/Layout.astro";
import Back from "@/assets/Back.astro";
---

<Layout>
  <a href="/" class="fixed top-4 left-4 z-50">
    <Back class="w-6" />
  </a>

  <main class="flex flex-1 flex-col items-center justify-end p-6">
    <video
      playsinline
      autoplay
      muted
      class="absolute inset-0 size-full object-cover"
    >
    </video>

    <div
      style="--filter: var(--filter-red);"
      class="absolute inset-0 bg-[var(--filter)] mix-blend-multiply filter"
    >
    </div>

    <div
      class="fixed bottom-8 z-10 flex rounded-full border border-neutral-800 bg-neutral-900 p-2"
    >
      <button
        id="filter-night"
        class:list={[
          "min-w-20 rounded-full bg-cover bg-no-repeat px-4 py-2 text-neutral-400 transition-transform active:scale-105",
          true && "bg-[url('./bg.svg')] text-neutral-950",
        ]}
      >
        Filtre nit
      </button>

      <button
        id="filter-day"
        class:list={[
          "min-w-20 rounded-full bg-cover bg-no-repeat px-4 py-2 text-neutral-400 transition-transform active:scale-105",
          false && "bg-[url('./bg.svg')] text-neutral-950",
        ]}
      >
        Filtre dia
      </button>
    </div>
  </main>
</Layout>

<script>
  let is_filter = "red";

  const video = document.querySelector("video") as HTMLVideoElement;
  const filter = document.querySelector(".filter") as HTMLElement;
  const filter_night = document.querySelector(
    "#filter-night"
  ) as HTMLButtonElement;
  const filter_day = document.querySelector("#filter-day") as HTMLButtonElement;

  navigator.mediaDevices
    .getUserMedia({ video: { facingMode: "environment" } })
    .then((stream) => {
      video.srcObject = stream;
    });

  filter_night.addEventListener("click", () => {
    filter.style.setProperty("--filter", `var(--filter-red`);

    filter_night.classList.add("bg-[url('./bg.svg')]");
    filter_night.classList.add("text-neutral-950");
    filter_day.classList.remove("bg-[url('./bg.svg')]");
    filter_day.classList.remove("text-neutral-950");
  });

  filter_day.addEventListener("click", () => {
    filter.style.setProperty("--filter", `var(--filter-blue`);

    filter_night.classList.remove("bg-[url('./bg.svg')]");
    filter_night.classList.remove("text-neutral-950");
    filter_day.classList.add("bg-[url('./bg.svg')]");
    filter_day.classList.add("text-neutral-950");
  });
</script>
