---
import Layout from "@/layouts/Layout.astro";
import Back from "@/assets/Back.astro";
---

<Layout>
  <main class="flex flex-1 flex-col items-center justify-center p-6">
    <a href="/" class="fixed top-4 left-4 z-50">
      <Back class="w-6" />
    </a>

    En construcció
  </main>
</Layout>
