---
import Ajuntament from "@/assets/Ajuntament.astro";
import Carnaval from "@/assets/Carnaval.astro";
---

<footer>
  <dialog
    id="credits"
    class="inset-0 z-50 size-full w-full items-end bg-transparent open:flex"
  >
    <div
      class="flex w-full flex-col items-center justify-center rounded-tl-3xl rounded-tr-3xl border-t border-neutral-800 bg-neutral-900 px-6 pb-12 pt-20 text-neutral-100"
    >
      <p class="text text-xs uppercase text-neutral-300">Direcció d'art</p>
      <p class="text-xl">
        <a href="https://www.victorbregante.com" target="_blank">
          Víctor Bregante
        </a>
      </p>

      <div class="mt-10 flex gap-8">
        <a href="https://www.sitges.cat" target="_blank">
          <Ajuntament class="h-12" />
        </a>
        <a href="https://www.sitges.cat" target="_blank">
          <Carnaval class="h-12" />
        </a>
      </div>

      <p class="mt-16 text-xs text-neutral-300">
        <a href="https://github.com/verdulife" target="_blank">
          Fet amb molt de ❤️ per Verdu
        </a>
      </p>
    </div>
  </dialog>
</footer>

<style>
  dialog {
    transition:
      display 1s allow-discrete,
      overlay 1s allow-discrete;

    animation: close 1s forwards;
    &[open] {
      animation: open 1s forwards;
    }
  }

  @keyframes open {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes close {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }
</style>
