---
import Info from "@/assets/Info.astro";
---

<header class="fixed top-0 z-10 flex w-full items-center justify-end p-1">
  <a
    href="https://github.com/verdulife"
    title="Fet amb ❤️ per Verdu"
    target="_blank"
    class="p-2 opacity-20 transition-opacity hover:opacity-100"
  >
    <Info />
  </a>
</header>
